---
import Layout from "../layouts/Layout.astro";
// import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import About from "../components/About.astro";
import Expertise from "../components/Expertise.astro";
import InfoSection from "../components/InfoSection.astro";
import Portfolio from "../components/Portfolio.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<!-- <Layout title="SC">
  <div class="m-auto max-w-[1300px] py-10 px-5">
    <div class="flex flex-col gap-6">
      <div>
        <Header />
      </div>
      <div class="">
        <Intro />
      </div>
      <div class="">
        <InfoSection />
      </div>
    </div>
  </div>
</Layout> -->

<Layout title="SC">
  <main>
    <div class="bg-[#ebeff3] w-full">
      <div class="max-w-full py-10 px-10 sm:px-[75px] md:px-[125px] mx-auto lg:px-[175px]">
        <Header />
      </div>
    </div>

    <div class="bg-[#ebeff3] w-full">
      <div class="max-w-full py-10 px-10 sm:px-[75px] md:px-[125px] mx-auto lg:px-[175px]">
        <Intro />
      </div>
    </div>

    <div class="bg-white w-full">
      <div class="max-w-full py-10 px-10 sm:px-[75px] md:px-[125px] mx-auto lg:px-[175px]">
        <InfoSection />
      </div>  
    </div>

    <div class="bg-[#ebeff3] w-full">
      <div class="max-w-full py-10 px-10 sm:px-[75px] md:px-[125px] mx-auto lg:px-[175px]">
        <Portfolio />
      </div>
    </div>

    <div class="bg-white w-full" id="contact-info">
      <div class="max-w-full py-10 px-10 sm:px-[75px] md:px-[125px] mx-auto lg:px-[175px]">
        <Contact />
      </div>
    </div>
  </main>
</Layout>

<style>

  .header,
  .intro,
  .portfolio {
    background-color: #ebeff3;
  }

  .info,
  .contact {
    background-color: white;
  }
</style>
