---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import About from "../components/About.astro";
import Expertise from "../components/Expertise.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Section from "../layouts/Section.astro";
---

<Layout title="SC">
  <main>
    <div class=`header-section bg-[#ebeff3]`>
      <div class="container mx-auto grid grid-cols-2 pb-20 items-center">
        <div class="px-5 md:px-10 pt-10">
          <img
            src="/logo.png"
            alt="logo for website"
            width="67px"
            height="50px"
          />
        </div>
        <div class="px-5 md:px-10 pt-10 justify-self-end">
          <Header />
        </div>
      </div>
    </div>

    <Section color="gray">
      <div class="self-center px-10">
        <Intro />
      </div>

      <div class="justify-self-center px-10">
        <img
          src="../../tempimage1.png"
          alt="Image of Sean"
          class="pt-10 md:pt-0"
        />
      </div>
    </Section>

    <Section color="white">
      <div class="px-10 pt-20">
        <About />
      </div>

      <div class="px-10 pt-20">
        <Expertise />
      </div>
    </Section>

    <Section color="white">
      <div class="px-10">
        <Experience />
      </div>

      <div class="px-10">
        <Education />
      </div>
    </Section>

    <!-- 
      <div class="">
        <Portfolio />
      </div> -->
    <div class=`contact-section bg-[#ebeff3] pb-20`>
      <div class="container mx-auto" id="contact-section">
        <div class="px-10">
          <Contact />
        </div>
      </div>
    </div>

    <Footer />
  </main>
</Layout>
