---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import About from "../components/About.astro";
import Expertise from "../components/Expertise.astro";
import InfoSection from "../components/InfoSection.astro";
import Portfolio from "../components/Portfolio.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="section header">
      <div class="container">
        <Header />
      </div>
    </div>

    <div class="section intro">
      <div class="container">
        <Intro />
      </div>
    </div>

    <div class="section info">
      <div class="container">
        <InfoSection />
      </div>
    </div>

    <div class="section portfolio">
      <div class="container">
        <Portfolio />
      </div>
    </div>

    <div class="section contact" id="contact-info">
      <div class="container">
        <Contact />
      </div>
    </div>
  </main>
</Layout>

<style>
  .section {
    width: 100%;
  }

  .container {
    max-width: 1300px;
    margin: auto;
    padding: 40px 20px;
  }

  .header,
  .intro,
  .portfolio {
    background-color: #ebeff3;
  }

  .info,
  .contact {
    background-color: white;
  }
</style>
