---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import About from "../components/About.astro";
import Expertise from "../components/Expertise.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Section from "../layouts/Section.astro";
---

<Layout title="Sean Celli">
  <main>
    <Header />

    <Intro />
    <Section color="white">
      <Experience />

      <Education />
    </Section>

    <Section color="white">
      <About />

      <Expertise />
    </Section>


    <!-- 
      <div class="">
        <Portfolio />
      </div> -->

    <Contact />

    <Footer />
  </main>
</Layout>
