<div class="flex flex-col gap-4 px-10">
  <div class="font-medium text-3xl md:text-4xl text-black font-main-font">
    About <span class="text-[#0B3D91]">Me</span>
  </div>

  <div class="font-main-font text-md md:text-lg color-[#4e4e4e]">
    <p>
      Hi there! I'm Sean Celli, a web developer with a passion for creating
      dynamic and user-friendly web experiences. My primary expertise lies in
      React, JavaScript, HTML, and CSS, and I love using these tools to bring
      ideas to life on the web. Over my career, I've had the chance to work on
      some amazing industry projects, making changes that have improved the
      experience of hundreds of thousands of users, and leading development on
      industry-grade websites from the ground up.
    </p>
    <br />
    <p>
      Outside of my nine-to-five, I enjoy getting outdoors as much as possible
      and spending time with my girlfriend. Health and wellness are top
      priorities for me, and I am currently working on a website that will share
      this devotion towards health with many others and hopefully inspire them
      to make good changes.
    </p>
  </div>
</div>
