<div class="about-wrapper">
  <div class="about-text">
    About <span class="me-text">Me</span>
  </div>

  <div class="main-text">
    <p>
      passage, and going through the cites of the word in classical literature,
      discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32
      and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
      Evil) by Cicero, written in 45 BC. This book is a treatise on the theory
      of ethics, very popular during the Renaissance. The first line of Lorem
      Ipsum,
    </p>
     "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The
    standard chunk of Lorem Ipsum used since the 1500s is reproduced below for
    those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et
    Malorum" by Cicero are also reproduced in their exact original form,
    accompanied by English versions from the 1914 translation by H. Rackham.
  </div>
</div>

<style>
  .about-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }

  .me-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 40px;
    line-height: 48.76px;
    color: #fc6040;
  }

  .about-text {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 40px;
    line-height: 48.76px;
    color: #000000;
  }

  .main-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #4e4e4e;
    max-width: 600px;
  }
</style>
