<div class=`contact-section bg-[#ebeff3] dark:bg-dark_secondary pb-20`>
  <div class="container mx-auto px-10" id="contact-section">
    <div
      class="font-main-font non-italic font-bold text-3xl md:text-4xl leading-[88px] pt-5"
    >
      Let's <span class="font-black text-primary dark:text-text_secondary"
        >Make Great Things</span
      >&nbsp;Together
    </div>
    <form id="contact-form">
      <div class="flex flex-wrap font-main-font">
        <div class="w-full px-2 md:w-1/2">
          <label
            class="block mb-2 mt-6 text-md md:text-lg font-medium text-left text-gray-900 dark:text-white"
            >Name</label
          >
          <input
            type="text"
            id="name"
            name="name"
            class="shadow-md dark:shadow dark:shadow-white/10 bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-white text-sm block w-full p-2.5 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            aria-required="true"
            aria-label="Name"
          />
          <p id="name-error" class="text-red-600 text-sm hidden">
            Name is required.
          </p>
        </div>
        <div class="w-full px-2 md:w-1/2">
          <label
            class="block mb-2 mt-6 text-md md:text-lg font-medium text-left text-gray-900 dark:text-white"
            >Email</label
          >
          <input
            type="text"
            id="email"
            name="email"
            class="shadow-md dark:shadow dark:shadow-white/10 bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-white text-sm block w-full p-2.5 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            aria-required="true"
            aria-label="Email"
          />
          <p id="email-error" class="text-red-600 text-sm hidden">
            Valid email is required.
          </p>
        </div>
        <div class="w-full px-2 md:w-1/2">
          <label
            class="block mb-2 mt-6 text-md md:text-lg font-medium text-left text-gray-900 dark:text-white"
            >Phone Number</label
          >
          <input
            type="tel"
            id="phone"
            name="phone"
            class="shadow-md dark:shadow dark:shadow-white/10 bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-white text-sm block w-full p-2.5 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            aria-required="true"
            aria-label="Phone Number"
          />
          <p id="phone-error" class="text-red-600 text-sm hidden">
            Valid phone number is required.
          </p>
        </div>
        <div class="w-full px-2 md:w-1/2">
          <label
            class="block mb-2 mt-6 text-md md:text-lg font-medium text-left text-gray-900 dark:text-white"
            >Service</label
          >
          <input
            type="text"
            id="service"
            name="service"
            class="shadow-md dark:shadow dark:shadow-white/10 bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-white text-sm block w-full p-2.5 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            aria-required="true"
            aria-label="Service"
          />
          <p id="service-error" class="text-red-600 text-sm hidden">
            Service is required.
          </p>
        </div>
        <div class="w-full px-2">
          <label
            class="block mb-2 mt-6 text-md md:text-lg font-medium text-left text-gray-900 dark:text-white"
            >Message/Requirements</label
          >
          <textarea
            id="message"
            name="message"
            class="shadow-md dark:shadow dark:shadow-white/10 bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-white text-sm block w-full p-2.5 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            aria-required="true"
            rows="4"
            aria-label="Message/Requirements"></textarea>
          <p id="message-error" class="text-red-600 text-sm hidden">
            Message is required.
          </p>
        </div>
      </div>
      <div class="flex mt-5 mx-2 justify-end">
        <button
          type="submit"
          class="px-6 py-3 bg-primary dark:bg-text_secondary text-white font-semibold rounded-lg shadow-md hover:bg-blue-500 dark:hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-700 dark:focus:ring-blue-600 focus:ring-opacity-75 transition ease-in-out duration-150"
          aria-label="Send Request"
        >
          Send Request
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  import toastr from "../utils/toastr.config";

  document
    .getElementById("contact-form")
    ?.addEventListener("submit", async function (event: Event) {
      event.preventDefault();
      const form = event.target as HTMLFormElement;
      const submitButton = form.querySelector(
        'button[type="submit"]'
      ) as HTMLButtonElement;
      const originalButtonText = submitButton.textContent;

      const name = (
        form.elements.namedItem("name") as HTMLInputElement
      ).value.trim();
      const email = (
        form.elements.namedItem("email") as HTMLInputElement
      ).value.trim();
      const phone = (
        form.elements.namedItem("phone") as HTMLInputElement
      ).value.trim();
      const service = (
        form.elements.namedItem("service") as HTMLInputElement
      ).value.trim();
      const message = (
        form.elements.namedItem("message") as HTMLTextAreaElement
      ).value.trim();

      let valid = true;

      if (!name) {
        document.getElementById("name-error")?.classList.remove("hidden");
        valid = false;
      } else {
        document.getElementById("name-error")?.classList.add("hidden");
      }

      const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (!email || !emailPattern.test(email)) {
        document.getElementById("email-error")?.classList.remove("hidden");
        valid = false;
      } else {
        document.getElementById("email-error")?.classList.add("hidden");
      }

      const phonePattern = /^\d{10}$/;
      if (!phone || !phonePattern.test(phone)) {
        document.getElementById("phone-error")?.classList.remove("hidden");
        valid = false;
      } else {
        document.getElementById("phone-error")?.classList.add("hidden");
      }

      if (!service) {
        document.getElementById("service-error")?.classList.remove("hidden");
        valid = false;
      } else {
        document.getElementById("service-error")?.classList.add("hidden");
      }

      if (!message) {
        document.getElementById("message-error")?.classList.remove("hidden");
        valid = false;
      } else {
        document.getElementById("message-error")?.classList.add("hidden");
      }

      if (valid) {
        const formData = {
          name,
          email,
          phone,
          service,
          message,
        };

        submitButton.disabled = true;
        submitButton.textContent = "Sending...";

        try {
          const response = await fetch("/api/send-email", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(formData),
          });

          if (response.ok) {
            toastr.success("Request successfully sent");
            form.reset();
          } else if (response.status === 429) {
            toastr.error("Too many requests. Please try again later.");
          } else {
            toastr.error("Error sending request");
          }

          submitButton.disabled = false;
          submitButton.textContent = originalButtonText;
        } catch (error) {
          toastr.error("Error sending request");
          submitButton.disabled = false;
          submitButton.textContent = originalButtonText;
        }
      }
    });
</script>
