---
import QualificationsCard from "./QualificationsCard.astro";
import QualificationsWrapper from "./QualificationsWrapper.astro";
---

<div class="flex flex-col gap-4 px-10 pt-20 education-container">
  <div
    class="font-medium text-3xl md:text-4xl text-black dark:text-white font-main-font pb-4"
  >
    My <span class="text-text_primary dark:text-text_secondary">Education</span>
  </div>

  <QualificationsWrapper>
    <div class="edu-1">
      <QualificationsCard
        title="B.S. Computer Science"
        subtitle="California State University, Sacramento"
        timeSpent="May 2024"
      />
    </div>
    <div class="edu-2">
      <QualificationsCard
        title="Associates in Computer Science + Associates in Math and Science"
        subtitle="Folsom Lake College"
        timeSpent="May 2021"
      />
    </div>
  </QualificationsWrapper>
</div>

<script>
  import handleAnimation from "../utils/handleAnimation";
  handleAnimation("bottom", ".education-container", 500);
  handleAnimation("bottom", ".edu-1", 800);
  handleAnimation("bottom", ".edu-2", 800);
</script>
