<div class="font-expertise font-medium px-10">
  <div class="font-medium text-3xl md:text-4xl text-black dark:text-white font-main-font pb-4">
    My <span class="text-text_primary dark:text-text_secondary">Expertise</span>
  </div>
  <div class="mb-[10px]">
    <div class="flex justify-between items-start gap-6">
      <span class="margin-0 pb-0 font-main-font text-lg md:text-xl">React</span>
      <span class="margin-0 pb-0 font-main-font text-lg md:text-xl">85%</span>
    </div>
    <div class="pt-[10px] pb-[20px]">
      <div class="h-2 bg-[#e0e0e0]">
        <div class="h-full w-0 progress-bar bg-text_primary dark:bg-text_secondary" data-width="85%">
        </div>
      </div>
    </div>
  </div>

  <div class="mb-[10px]">
    <div class="flex justify-between items-start gap-6">
      <span class="margin-0 pb-0 font-main-font text-lg md:text-xl"
        >JavaScript</span
      >
      <span class="margin-0 pb-0 font-main-font text-lg md:text-xl">75%</span>
    </div>
    <div class="pt-[10px] pb-[20px]">
      <div class="h-2 bg-[#e0e0e0]">
        <div class="h-full w-0 progress-bar bg-text_primary dark:bg-text_secondary" data-width="75%">
        </div>
      </div>
    </div>
  </div>

  <div class="mb-[10px]">
    <div class="flex justify-between items-start gap-6">
      <span class="margin-0 pb-0 font-main-font text-lg md:text-xl">HTML</span>
      <span class="margin-0 pb-0 font-main-font text-lg md:text-xl">90%</span>
    </div>
    <div class="pt-[10px] pb-[20px]">
      <div class="h-2 bg-[#e0e0e0]">
        <div class="h-full w-0 progress-bar bg-text_primary dark:bg-text_secondary" data-width="90%">
        </div>
      </div>
    </div>
  </div>

  <div class="mb-[10px]">
    <div class="flex justify-between items-start gap-6">
      <span class="margin-0 pb-0 font-main-font text-lg md:text-xl">CSS</span>
      <span class="margin-0 pb-0 font-main-font text-lg md:text-xl">75%</span>
    </div>
    <div class="pt-[10px] pb-[20px]">
      <div class="h-2 bg-[#e0e0e0]">
        <div class="h-full w-0 progress-bar bg-text_primary dark:bg-text_secondary" data-width="75%">
        </div>
      </div>
    </div>
  </div>

  <div class="mb-[10px]">
    <div class="flex justify-between items-start gap-6">
      <span class="margin-0 pb-0 font-main-font text-lg md:text-xl"
        >TypeScript</span
      >
      <span class="margin-0 pb-0 font-main-font text-lg md:text-xl">75%</span>
    </div>
    <div class="pt-[10px] pb-[20px]">
      <div class="h-2 bg-[#e0e0e0]">
        <div class="h-full w-0 progress-bar bg-text_primary dark:bg-text_secondary" data-width="75%">
        </div>
      </div>
    </div>
  </div>

  <div class="mb-[10px]">
    <div class="flex justify-between items-start gap-6">
      <span class="margin-0 pb-0 font-main-font text-lg md:text-xl"
        >Express.js</span
      >
      <span class="margin-0 pb-0 font-main-font text-lg md:text-xl">85%</span>
    </div>
    <div class="pt-[10px] pb-[20px]">
      <div class="h-2 bg-[#e0e0e0]">
        <div class="h-full w-0 progress-bar bg-text_primary dark:bg-text_secondary" data-width="85%">
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .progress-bar {
    transition: width 2s ease-out;
  }
</style>

<script>
  function animateProgressBar(bar: any) {
    const width = bar.getAttribute("data-width");
    bar.style.width = width;
  }

  function handleIntersect(entries: any, observer: any) {
    entries.forEach((entry: any) => {
      if (entry.isIntersecting) {
        animateProgressBar(entry.target);
        observer.unobserve(entry.target);
      }
    });
  }

  const options = {
    threshold: 0.1,
  };

  const observer = new IntersectionObserver(handleIntersect, options);

  const progressBars = document.querySelectorAll(".progress-bar");
  progressBars.forEach((bar) => {
    observer.observe(bar);
  });
</script>
