---
import QualificationsWrapper from "./QualificationsWrapper.astro";
import QualificationsCard from "./QualificationsCard.astro";
---

<div class="flex flex-col gap-4 px-10 pt-20">
  <div class="font-medium text-3xl md:text-4xl text-black dark:text-white font-main-font pb-4">
    My <span class="text-text_primary dark:text-text_secondary">Experience</span>
  </div>

  <QualificationsWrapper>
    <div class="exp-1">
      <QualificationsCard
        title="Full Stack Software Developer (Internship)"
        subtitle="Intel"
        timeSpent="May 2022 - August 2024"
      />
    </div>
    <div class="exp-2">
      <QualificationsCard
        title="Frontend Software Developer + UI/UX Tester (Internship)"
        subtitle="Intel"
        timeSpent="August 2021 - May 2022"
      />
    </div>
  </QualificationsWrapper>
</div>

<script>
  import handleAnimation from "../utils/handleAnimation";
  handleAnimation("bottom", ".exp-1", 500);
  handleAnimation("bottom", ".exp-2", 500);
</script>
