<footer class="bg-secondary font-main-font py-8">
  <div
    class="px-10 container mx-auto flex flex-col md:flex-row justify-between items-center"
  >
    <div class="mb-4 md:mb-0">
      <a
        class="text-4xl text-[#98aab9] hover:text-[#0077b5] transition ease-in-out 150"
        href="https://www.linkedin.com/in/sean-celli/"
        target="_blank"
        rel="noopener noreferrer"
        title="LinkedIn"
      >
        <i class="fab fa-linkedin"></i>
      </a>

      <a
        class="pl-6 text-4xl text-[#98aab9] hover:text-[#181717] transition ease-in-out duration-300"
        href="https://github.com/seanthecod3r"
        target="_blank"
        rel="noopener noreferrer"
        title="GitHub"
      >
        <i class="fab fa-github"></i>
      </a>
    </div>
    <div class="text-sm text-gray-500">
      <p>&copy; 2024 Sean Celli. All rights reserved.</p>
    </div>
  </div>
</footer>
