<div class="flex justify-between items-center">
  <img
    src="../../public/logo.png"
    alt="logo for website"
    width="67px"
    height="50px"
  />
  <div class="flex items-center gap-8">
    <a
      class="icon-link icons"
      href="https://www.linkedin.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fab fa-linkedin"></i>
    </a>

    <a
      class="icon-link icons"
      href="https://github.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fab fa-github"></i>
    </a>
    <a href="#contact-info" class="no-underline hover:text-gray-400 transition duration-150 ease-in-out"><h2 class="text-lg font-semibold">Contact Me</h2></a>
  </div>
</div>

<style>
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icons {
    color: #98aab9;
  }

  html {
    scroll-behavior: smooth;
  }
</style>
