---
import About from "./About.astro";
import Education from "./Education.astro";
import Experience from "./Experience.astro";
import Expertise from "./Expertise.astro";
---


  <div class="">
    <div class="about-section p-6">
      <About />
    </div>
    <div class="expertise-section p-6">
      <Expertise />
    </div>
    <div class="experience-section p-6">
      <Experience />
    </div>
    <div class="education-section p-6">
      <Education />
    </div>
  </div>