<div class="intro-background">
  <div class="intro-section">
    <div class="text-part">
      <div class="intro-text">
        Hi, I'm <span class="intro-text-name">Sean Celli, a</span> Web Developer
      </div>

      <div class="intro-text-small">
        I'm proficient in React, Next.js, JavaScript, HTML, CSS. I use these
        skills to meet any Frontend development needs
      </div>
      <div class="icon-part">
        <a
          class="icon-link"
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-linkedin"></i>
        </a>

        <a
          class="icon-link"
          href="https://github.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
    <img src="../../tempimage.png" />
  </div>
</div>

<style>
  .intro-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .intro-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 88px;
  }

  .intro-text-name {
    color: #fc6040;
    font-weight: 900;
  }

  .intro-text-small {
    padding-top: 35px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #4e4e4e;
  }

  .text-part {
    flex: 1;
    padding-right: 150px;
    max-width: 600px;
  }

  .icon-part {
    padding-top: 35px;
    padding-right: 30px;
    color: #98aab9;
  }
</style>
