  <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-[60px]">
    <div class="md:max-w-[600px]"> 
      <div class="font-[Montserrat] non-italic font-bold text-6xl leading-[88px]">
        Hi, I'm <span class="font-black text-[#0B3D91]">Sean Celli, </span>a Web Developer
      </div>

      <div class="intro-text-small">
        I'm proficient in React, Next.js, JavaScript, HTML, CSS. I use these
        skills to meet any Frontend development needs
      </div>
      <div class="icon-part">
        <a
          class="icon-link"
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-linkedin"></i>
        </a>

        <a
          class="icon-link"
          href="https://github.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
      <div class="flex justify-center flex-shrink-0">
      <img src="../../tempimage.png" class="w-[40%] h-[40%] md:h-[70%] md:w-[70%] lg:w-auto lg:h-auto"/>
    </div>
  </div>

<style>
  .intro-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .intro-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 88px;
  }

  .intro-text-name {
    color: #fc6040;
    font-weight: 900;
  }

  .intro-text-small {
    padding-top: 35px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #4e4e4e;
  }

  .text-part {
    flex: 1;
    padding-right: 150px;
    max-width: 600px;
  }

  .icon-part {
    padding-top: 35px;
    padding-right: 30px;
    color: #98aab9;
  }
</style>
