---
import Section from "../layouts/Section.astro";
---

<Section color="gray">
  <div class="self-center px-10">
    <div class="md:max-w-[600px] intro-info hideElement">
      <h1
        class="font-main-font non-italic font-bold text-4xl leading-[3rem] md:text-[3.75rem] md:leading-[5.5rem]"
      >
        Hi, I'm <span class="font-black text-[#0B3D91]">Sean Celli,</span
        >&nbsp;a Web Developer
      </h1>

      <div class="pt-[35px] text-[#4e4e4e] font-main-font text-xl">
        I'm proficient in React, Next.js, JavaScript, HTML, CSS, and many other
        web-related technologies. I leverage these skills to create seamless and
        dynamic web experiences tailored to any need.
      </div>
      <div class="icon-part">
        <a
          class="text-4xl text-[#98aab9] hover:text-[#0077b5] transition ease-in-out 150"
          href="https://www.linkedin.com/in/sean-celli/"
          target="_blank"
          rel="noopener noreferrer"
          title="LinkedIn"
        >
          <i class="fab fa-linkedin"></i>
        </a>

        <a
          class="pl-6 text-4xl text-[#98aab9] hover:text-[#181717] transition ease-in-out duration-300"
          href="https://github.com/"
          target="_blank"
          rel="noopener noreferrer"
          title="GitHub"
        >
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="justify-self-center px-10">
    <img
      src="/hd-nobg-profile.png"
      alt="Image of Sean"
      class="pt-10 md:pt-0 main-img w-[433px]"
    />
  </div>
</Section>

<style>
  .intro-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .intro-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 88px;
  }

  .intro-text-name {
    color: #fc6040;
    font-weight: 900;
  }

  .intro-text-small {
    padding-top: 35px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #4e4e4e;
  }

  .text-part {
    flex: 1;
    padding-right: 150px;
    max-width: 600px;
  }

  .icon-part {
    padding-top: 35px;
    padding-right: 30px;
    color: #98aab9;
  }
</style>

<script>
  import handleAnimation from "../utils/handleAnimation";
  handleAnimation("left", ".intro-info", 500);
  handleAnimation("right", ".main-img", 1500);
</script>
