---
import QualificationsCard from "./QualificationsCard.astro"
---

<div class="flex flex-col items-start relative">
 <span class="bg-secondary w-[2px] h-full absolute"></span>
    <div class="flex flex-col gap-8 w-full">
        <slot /> <!--  Slot expects qualification cards -->
    </div>
</div>