@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply text-black bg-white;
  }

  html.dark {
    @apply text-white bg-black;
  }
}

body {
  margin: 0;
}

.hideElement {
  opacity: 0;
}


html {
  scroll-behavior: smooth;
}

a.icon-link .fab.fa-github {
  transition: 0.3s ease;
  font-size: 36px;
}

a.icon-link .fab.fa-linkedin {
  transition: 0.3s ease;
  font-size: 36px;
}

a.icon-link {
  color: inherit;
  text-decoration: none;
  padding: inherit;
}

a.icon-link .fab.fa-github:hover {
  color: #181717;
}

a.icon-link .fab.fa-linkedin:hover {
  color: #0077b5;
}

.grecaptcha-badge {
  visibility: hidden;
}
