@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply text-black bg-white;
  }

  html.dark {
    @apply text-white bg-black;
  }
}

body {
  margin: 0;
}

.hideElement {
  opacity: 0;
}

html {
  scroll-behavior: smooth;
}

.grecaptcha-badge {
  visibility: hidden;
}
